.contact-container {
    width: 1800px;
    margin: auto;
    max-width: 100%;
  }
  
  .content-container {
    display: flex;
    background-color: rgb(240, 243, 246, 1);
    align-items: center;
    /* max-width: 100%; */
  }
  