.navbar {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
}

.nav-container {
  width: 1800px;
  /* border: 1px solid brown; */
  margin: auto;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 40px 15px;
}

.left a {
  text-decoration: none;
  font-size: 2rem;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 460;
  letter-spacing: 3px;
  font-style: normal;
  cursor: pointer;
  color: black;
}

.right-1 {
  display: flex;
  flex-direction: row;
  gap: 60px;

  letter-spacing: 1px;
  cursor: pointer;
}
.right-1 li {
  font-weight: 400;
  font-size: 22px;
  list-style-type: none;
  border-bottom: 2px solid transparent;
}
.right-1 li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.right-1 li:hover {
  border-bottom: 2px solid black;
}

.right-1 li a:focus {
  color: inherit;
  border-bottom: 2px solid black;

}
