.project-container {
  width: 1800px;
  margin: auto;

  border: 2px solid black;
}

.heading {
  font-family: "Cinzel", serif;
  padding-bottom: 20px;
}

.heading h2 {
  text-align: center;
  letter-spacing: 2px;
}

.showcase {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 22px;
  gap: 60px;
}

.project-one {
  border: 1px dashed red;
  width: 1532px;
  padding: 12px 8px;
}

.project-one img {
  width: 1500px;
   cursor: pointer;
   box-shadow: 3px 5px 5px 3px #888888;
}

.project-one img:hover{
    opacity: 0.8;
}
